<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jong.open.mapper.MemberMapper">
<!-- 아디선택  -->
	<select id="selectById" resultType="com.jong.open.member.Member">
	select * from member where id = #{id}
	</select>
	<!--값 넣기  -->
	<insert id="insertMember" parameterType="com.jong.open.member.Member">
	insert into member(id, password, name, photo) values(#{id}, #{password}, #{name}, #{photo})
	</insert>
	<!-- 리스트 뿌리기  -->
	<select id="getList" resultType="com.jong.open.member.Member">
	select * from member
	</select>
	<!-- 삭제 -->
	<delete id="delete">
	delete from member where idx = #{idx}
	</delete>
	<!-- 업뎃 -->
	<update id="update">
	update member set id=#{id}, password=#{password}, name=#{name} where idx=#{idx}
	</update>
</mapper>